<!-- <div class="navbar navbar-extend-md fixed-top fixed-header">
    <div class="container">
        <nav>
            <a routerLink="/">Home</a> |
            <a routerLink="/add-customer">Add Customer</a>
        </nav>
    </div>
</div>
<div class="container pt-5">
<h2> {{title}}</h2>
<hr />-->
<!-- <router-outlet></router-outlet>
</div> --> 
    <app-game (evenNumberEvent)="onEvenNumber($event)" (oddNumberEvent)="onOddNumber($event)"></app-game>
  
    <div class="row">
      <div class="col-xs-6">
        <h2>Odd</h2>
        <app-odd-number *ngFor="let n of odd" [odd]="n"></app-odd-number>
      </div>
      <div class="col-xs-6">
        <h2>Even</h2>
        <app-even-number *ngFor="let n of even" [even]="n"></app-even-number>
      </div>
    </div>
  
  
 